<div class="col">
    <h2> Lista de Turmas</h2>
<table class="table table-hover" >
    <thead>
        <tr>
            <th>Nº da turma</th>
            <th>Disciplina</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let turma of turmas">
            <td> {{turma.numeroTurma}} </td>
            <td> {{turma.nome}} </td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="registrarTurma(turma)" title="Editar Turma">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteTurma(turma)" title="Deletar Turma">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
        
</div>
